

.location-details {
  background-color: #b0a77e; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: #333; 
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  text-align: center; 
}

.location-details h1 {
  margin-bottom: 20px;
}

.location-details img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.location-details p {
  text-align: justify;
}

.location-details h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.ticket-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-select select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.ticket-select button {
  padding: 10px 20px;
  background-color: #6d6845;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ticket-select button:hover {
  background-color: #dbcc93;
}

.review-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.review-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left; 
}

.review-list li:last-child {
  border-bottom: none;
}

.review-list p {
  margin: 5px 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}
